<div class="flex justify-center items-center flex-col sm:flex-row-reverse gap-4 h-[80svh] ">

  <div class=" flex flex-col justify-center p-7">
    <h3 class="text-white text-2xl">You can use social accounts to log in</h3>
      <div class="flex flex-col p-7">
        <button class="text-white mt-3 bg-[#3b5998] hover:bg-gray-800 focus:ring-4 focus:ring-gray-900 rounded-lg text-sm px-6 py-2.5 mb-2">Continue with Facebook</button>
        <button class="text-white mt-3 bg-[#33A4EC] hover:bg-gray-800 focus:ring-4 focus:ring-gray-900 rounded-lg text-sm px-6 py-2.5 mb-2">Continue with Twitter</button>
        <button class="text-white mt-3 bg-[#3C7193] hover:bg-gray-800 focus:ring-4 focus:ring-gray-900 rounded-lg text-sm px-6 py-2.5 mb-2">Continue with Steam</button>
      </div>
  </div>

  <div class="p-8 flex flex-col justify-center">
  <form [formGroup]="form" (ngSubmit)="submitClicked$.next()" class="flex flex-col gap-5 w-80">
    <h2 class="text-4xl text-white">Log in</h2>
    <div class="form-group">
      <input formControlName="email" Name="email" type="text" placeholder="Email" class="rounded-xl bg-gray-900 border-none text-white">
      <span *ngIf="form.controls['email'].invalid && (form.controls['email'].dirty || form.controls['email'].touched)"
            class="text-sm text-red-600">Email Invalid</span>
    </div>
    <div class="form-group">
      <input formControlName="password" type="password" placeholder="Password" class="rounded-xl bg-gray-900 border-none text-white">
      <span *ngIf="form.controls['password'].invalid && (form.controls['password'].dirty || form.controls['password'].touched)"
            class="text-sm text-red-600">Password is required</span>
    </div>


    <button class="hover:text-[#000000] rounded-mt-3 bg-[#FFFFFF] hover:bg-gray-100 focus:ring-4 focus:ring-gray-900 rounded-lg text-sm px-6 py-2.5 mb-2"
      *ngIf="!$loading(); else loadingContent">
      Log in
    </button>

    <ng-template #loadingContent>
      <button class="hover:text-[#000000] rounded-mt-3 bg-[#FFFFFF] hover:bg-gray-100 focus:ring-4 focus:ring-gray-900 rounded-lg text-sm px-6 py-2.5 mb-2">
        <app-spinner></app-spinner>
      </button>
    </ng-template>


    <div class="flex items-center">
      <input id="link-checkbox" type="checkbox" formControlName="rememberMe" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
      <label for="link-checkbox" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Remember me</label>
    </div>

    <div class="p-4 flex flex-col justify-center items-center gap-2">
      <p class="underline text-white text-xs">Don't have an account? Sign up.</p>
      <p class="underline text-white text-xs">Forget your password?</p>
    </div>
  </form>
  </div>


</div>

