<!-- mostramos todos los datos por un json -->
<!-- <h1 class="text-2xl text-white font-bold">{{ $games() | json }}</h1> -->

<div class="flex flex-col gap-10">
  <div class="text-white flex flex-col gap-3">
    <h1 class="text-5xl font-bold">{{ componentParams.title }}</h1>
    <span class="text-md">{{ componentParams.subtitle }}</span>
  </div>

  <div *ngIf="componentParams.showFilters">
    <form [formGroup]="form" class="flex gap-3">
      <div>
        <label for="countries" class="block mb-2 text-sm font-medium text-white">Order by</label>
        <select id="countries"
        class="bg-[#202020] text-white text-sm rounded-lg block w-full p-2.5 outline-none"
        formControlName="order">
        <option value="-relevance">Relevance</option>
        <option value="-created">Date added</option>
        <option value="-name">Name</option>
        <option value="-released">Release date</option>
        <option value="-added">Popularity</option>
        <option value="-rating">Average rating</option>
        </select>
      </div>
      <div>
        <label for="countries" class="block mb-2 text-sm font-medium text-white">Platform</label>
        <select id="countries"
        class="bg-[#202020] text-white text-sm rounded-lg block w-full p-2.5 outline-none"
        formControlName="platform">
        <option selected value>Platforms</option>
        <option value="CA">Date added</option>
        <option value="CA">Name</option>
        <option value="FR">Release date</option>
        <option value="US">Popularity</option>
        <option value="DE">Average rating</option>
        </select>
      </div>

    </form>
  </div>

  <ng-container *ngIf="$loading(); else spinner">
    <app-game-list [games]="$games()"></app-game-list>
  </ng-container>
  <ng-template #spinner>
    <div class="flex items-center justify-center">
      <app-spinner></app-spinner>
    </div>
  </ng-template>
</div>
